.navbar{
  background-image: url("images/AjaxWebsiteTopImage.jpg");
  background-repeat: no-repeat;  
  background-size: 100% 100%;
  align-content: center;
  width: 100%;
  
}

a{
  padding-top: 1%;
  font-size: 1.4vw;
  font-family: "Normal-Regular";
}

button{
  color: white;
  background-color: rgb(64, 151, 257);
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 2% 7%;
}

.navbar h3{
  text-align: center;
  font-size: 1.9vw;
  padding-top: 5%;
  padding-bottom: 15%;
  font-family: "Normal-Regular" ;
}

.alignCenter{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  justify-content: center;
}

.nav{
  background-image: none;
  width: 100%;
  position: relative;

}

.about h3{
  text-align: center;
  font-size: 2vw;
  font-family: "Normal-ExtraBold";
}

.about p{
  
  font-family: "Normal-Regular";
  padding-left: 5%;
  font-size: 2vw;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 3%;
}

span {
  color: rgb(64, 151, 257);
}

.blueLine{
  border-bottom: 2px solid rgb(64, 151, 257);
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.capabilities .blackLine{
  border-bottom: 2px black;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

.capabilities{
  background-color: rgb(64, 151, 257);
  color: white;
  padding-bottom: 0%;
  margin-bottom: 0%;
  border-bottom: 0%;
}

.capabilities h3{
  text-align: center;
  font-size: 2vw;
  font-family: "Normal-ExtraBold";
  padding: 1.5%;
}

.capabilities p{
  padding-left: 5%;
  padding-right: 3%;
  font-size: 1.9vw;
  font-family: "Normal-Regular";
  padding-top: 2%;
  padding-bottom: 2%;
}

p{
  font-family: "Normal-Regular";
}

h3{
  font-family: "Normal-ExtraBold";
}

.capabilities ul{
  padding-left: 8%;
  padding-right: 3%;
  font-size: 1.5vw;
  font-family: "Normal-Regular";
  padding-bottom: 2%;
  margin-bottom: 0;
  border-bottom: 0;
}

.capabilities-img-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.9vw;
  padding-bottom: 0%;
  margin-bottom: 0%;
  border-bottom: 0%;
  background-size: 100% 100%;
  background-image: url("images/BlueMountainBottomImg.jpg");
  font-family: "Normal-ExtraBold";
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Normal-ExtraBold";
  font-size: 1.8vw;
}

.leadership{
  padding-left: 5%;
  padding-right: 3%;
  font-size: 1.9vw;
}

.leadership h3{
  text-align: center;
  font-size: 2vw;
}

.leadership p{
  padding-left: 3%;
  padding-right: 3%;
}

.leadership img{
  float: left;
  padding-right: 2%;
}

.Learn{
  color: rgb(64, 151, 257);
  cursor: pointer;
}

.footer{
  padding-left: 5%;
  font-size: 1.5vw;
  background-color: rgb(64, 151, 257);
  color: white;
  padding-bottom: 2%;
  font-family: "Normal-Regular"; 
}

.footer-a{
  font-family: "Normal-Regular"; 
  font-size: 1.8vw;
}

.footer h3{
  font-size: 2.2vw;
  
}

.footer a:link{
  color: white;
}

.footer a:visited{
  color: white;
}

@font-face {
  font-family: 'Normal-Bold';
  src: local('Normal-Bold'), url("./fonts/Normal-Bold.otf") format('truetype');
}

@font-face {
  font-family: 'Normal-ExtraBold';
  src: local('Normal-ExtraBold'), url("./fonts/Normal-ExtraBold.otf") format('truetype');
}

@font-face {
  font-family: 'Normal-ExtraLight';
  src: local('Normal-ExtraLight'), url("./fonts/Normal-ExtraLight.otf") format('truetype');
}
@font-face {
  font-family: 'Normal-Light';
  src: local('Normal-Light'), url("./fonts/Normal-Light.otf") format('truetype');
}
@font-face {
  font-family: 'Normal-Regular';
  src: local('Normal-Regular'), url("./fonts/Normal-Regular.otf") format('truetype');
}