.capabilities .blackLine{
  border-bottom: 2px black;
  display: block;
  margin-left: 5%;
  margin-right: 10%;
  color: black;
}

.capabilities{
  background-color: rgb(64, 151, 257);
  color: white;
}

.capabilities h3{
  text-align: center;
  font-size: 2vw;
}

.capabilities p{
  padding-left: 5%;
  font-size: 2vw;
}

