.navbar{
  background-image: url("images/AjaxWebsiteTopImage.jpg");
  background-repeat: no-repeat;  
  background-size: 100% 100%;
}

.nabar h3{
  text-align: center;
  font-size: 2vw;
}

.about h3{
  text-align: center;
  font-size: 2vw;
}

.about p{
  padding-left: 5%;
  font-size: 2vw;
}

span {
  color: rgb(64, 151, 257);
}

.blueLine{
  border-bottom: 2px solid rgb(64, 151, 257);
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.capabilities .blackLine{
  border-bottom: 2px black;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

.capabilities{
  background-color: rgb(64, 151, 257);
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.capabilities h3{
  text-align: center;
  font-size: 2vw;
}

.capabilities p{
  padding-left: 5%;
  font-size: 2vw;
}

.capabilities-img-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2vw;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leadership h3{
  text-align: center;
  font-size: 2vw;
}